<service
    android:name=".RadialKeyBoardIme"
    android:permission="android.permission.BIND_INPUT_METHOD"
    android:exported="true">
    
    <intent-filter>
        <action android:name="android.view.InputMethod" />
    </intent-filter>

    <meta-data
        android:name="android.view.im"
        android:resource="@xml/method" />
</service>